<div class="jumbotron jumbotron-fluid">
    <div id="jumbtron-content" class="container">
        <h1 class="display-4">Movie News Scraper</h1>
    </div>
</div>

<div class="container">
    <h2> content goes here </h2>
</div>